<ion-content padding >
  <ion-fab top right fixed >
    <button ion-fab mini color="action-buttons"><ion-icon name="settings"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab (click)="cerrarSesion()"><ion-icon name="log-out"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <div class="contenedor">
    <div style="margin-bottom: 10%">
      <div *ngIf="showElement.imageUser" class="logo alinear">
        <img *ngIf="datosUsuario.imagen == '' || datosUsuario.imagen == 0; imageUser" class="logo-img" src="assets/imgs/user.png">
        <ng-template #imageUser>
          <img class="logo-img" src="{{datosUsuario.imagen}}">
        </ng-template>
      </div>
    </div>
    <div>
      <ion-list>
        <ion-item *ngIf="showElement.nameTagEnabled">
          <ion-icon  class="static-icons" item-start ios="ios-person" md="ios-person"></ion-icon>
          <p *ngIf="datosUsuario.nombre != ''; else noRegistrado">{{datosUsuario.nombre}}</p>
          <ng-template #noRegistrado>
            <p> No Registrado </p>
          </ng-template>
        </ion-item>
        <ion-item *ngIf="showElement.cellPhoneTagEnabled">
          <ion-icon  class="static-icons" item-start ios="ios-phone-portrait" md="ios-phone-portrait"></ion-icon>
          <p *ngIf="datosUsuario.celular != 0; else noCellphone"> Celular: {{datosUsuario.celular}}</p>
          <ng-template #noCellphone>
            <p> Celular: No registrado </p>
          </ng-template>
        </ion-item>
        <ion-item *ngIf="showElement.telephoneTagEnabled">
          <ion-icon  class="static-icons" item-start ios="ios-call" md="ios-call"></ion-icon>
          <p *ngIf="datosUsuario.telefono != '' || datosUsuario.telefono == 0; else noTelephone">Telefono: {{datosUsuario.telefono}}</p>
          <ng-template #noTelephone>
              <p>Telefono: No registrado </p>
          </ng-template>
        </ion-item>
      </ion-list>
      <div *ngIf="showElement.logoEnabled">
        <div class="logo-img alinear logo">
          <img src="{{datosUsuario.logo}}">
        </div>
      </div>
    </div>
  </div>
  <!--button ion-button class="logoutButton" full (click)="cerrarSesion()">Cerrar Sesion</button-->
  <div *ngIf="showElement.animatedFooter" text-center class="animated fadeInDown">
    <div class="logo">
      <img class="animatedFooter" src="assets/imgs/web.gif">
    </div>
  </div>
</ion-content>
