<ion-content padding>
  <div class="contenedor">
    <div style="margin-bottom: 10%">
      <div *ngIf="datos.imagen != ''" class="logo alinear">
        <img class="logo-img" src="{{datos.imagen}}">
      </div>
      <div *ngIf="datos.imagen == ''" class="logo alinear">
        <img class="logo-img" src="assets/imgs/user.png">
      </div>
    </div>
    <div>
      <ion-list>
        <ion-item>
          <ion-icon item-start ios="ios-person-outline" md="ios-person-outline"></ion-icon>
          <p>{{datosUsuario.nombre}}</p>
        </ion-item>
        <ion-item *ngIf="datos.celular != 0">
          <ion-icon item-start ios="ios-phone-portrait-outline" md="ios-phone-portrait-outline"></ion-icon>
          <p>Celular: {{datos.celular}}</p>
        </ion-item>
        <ion-item *ngIf="datos.celular == 0">
          <ion-icon item-start ios="ios-phone-portrait-outline" md="ios-phone-portrait-outline"></ion-icon>
          <p>Celular: no disponible</p>
        </ion-item>
        <ion-item *ngIf="datos.telefono != 0">
          <ion-icon item-start ios="ios-call-outline" md="ios-call-outline"></ion-icon>
          <p>Telefono: {{datos.telefono}}</p>
        </ion-item>
        <ion-item *ngIf="datos.telefono == 0">
          <ion-icon item-start ios="ios-call-outline" md="ios-call-outline"></ion-icon>
          <p>Telefono: {{datos.telefono}}</p>
        </ion-item>
      </ion-list>
      <div>
        <div class="logo alinear">
          <img src="{{datosUsuario.logo}}">
        </div>
      </div>
    </div>
  </div>
  <button ion-button class="logoutButton" full (click)="cerrarSesion()">Cerrar Sesion</button>
  <div text-center class="animated fadeInDown">
    <div class="logo">
      <img class="animatedFooter" src="assets/imgs/web.gif">
    </div>
  </div>
</ion-content>
