page-usuario {
  .contenedor{
      display: flex;
      flex-direction: column;
      $colors: tabs;
  }
    .animatedFooter{
       width: 100%;
       margin: 20px auto;
    }
    //Botón de cerrar sesión
    .logoutButton{
      margin-top: 10px;
      font-size: 12px;
    }
    //Estilo del DIV contenedor del logo
    .logo{
        margin: auto;
        margin-top: 10px;
        //$img-logos: width;
    }
      //Estilo de la imagen del logo
      .logo-img{
        border-radius:  50px;
        width:          90px;
      }
      .alinear{
          text-align: center;
      }
    .menu{
        //background-color: rgba(136, 136, 136, 0.262);
        padding: 2px 4px;
        width: 100%;
        height: 35px;
        margin: 3px;
        align-items: flex-end;
        //border: 1px solid black;
        //border-radius: 5px 5px 5px 5px;
    }
    .visible{
        display: block;
    }
    .invisible{
        display: none;
    }
    ion-icon{
        $colors: static-icons;
        float: right;
    }
    .datosPersonales{
        margin-top: 10px;
        padding: 0px 2px;
    }
    .o_row{
        display: flex;
        flex-direction: row;
    }

}
