page-general-form {
    .ion-content{
        width: 500px;
        height: 400px;
    }
    h2{
        text-align: center;
        background-color: #e1e1e1;
        padding: 10px;
    }
    .none{
        display: none;
    }
    .block{
        display: block;
    }
    .center{
        text-align: center;
    }
}
