.button {
  border-radius: 4px;
}
h1 {
  font-size: 1.5rem;
}

.fondo {
  background-color: #fefefe;
}

@import '../assets/font/fontawesome.scss';
@import '../assets/font/solid.scss';
@import '../assets/font/brands.scss';

.user {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-user);
  }
}
* ::-webkit-scrollbar {
  display: none;
}
