<ion-header>
  <ion-navbar color="header">
    <ion-title> Detalles de contacto </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="fondo">
  <div padding class="contenedor">
    <div class="logo">
      <img width="90" height="90" src="assets/imgs/usuario.png">
    </div>

    <div padding>
      <ion-segment [(ngModel)]="seccion">
        <ion-segment-button value="datos">
          DATOS
        </ion-segment-button>
        <ion-segment-button value="comentarios">
          SEGUIMIENTOS
        </ion-segment-button>
      </ion-segment>
    </div>
    <div [ngSwitch]="seccion">
    <!------------Sección de Datos--------------------------------------------->
      <ion-list *ngSwitchCase="'datos'">
        <ion-item *ngIf="showElements.elements.nameTag" class="fondo">
          <ion-avatar item-start>
            <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
          </ion-avatar>
          <p class="titulo"> Nombre </p>
          <p class="datos">{{datos.nombre}} {{datos.ap_paterno}}
            <span *ngIf="datos.ap_materno">Apellido materno</span>
          </p>
        </ion-item>
        <ion-item *ngIf="showElements.elements.dateTag" class="fondo">
          <ion-avatar item-start>
              <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
          </ion-avatar>
          <p class="titulo"> Fecha y Hora de Registro </p>
          <p class="datos">{{registerTime}}</p>
          <p class="datos">{{datos.createdate}}</p>
        </ion-item>
        <ion-item *ngIf="showElements.elements.assignTag" class="fondo">
          <ion-avatar item-start>
            <ion-icon ios="ios-git-compare" md="md-git-compare"></ion-icon>
          </ion-avatar>
          <p class="titulo"> Asesor reasignado </p>
          <!--Pendiente el cambio de nombre desde API-->
          <p class="datos" *ngIf="datos.nameAssing != 0">{{datos.nameAssing}}</p>
          <p class="datos" *ngIf="datos.nameAssing == 0">No Disponible</p>
        </ion-item>
        <ion-item *ngIf="showElements.elements.cellphoneTag" class="fondo">
          <ion-avatar item-start>
              <ion-icon ios="ios-call" md="md-call"></ion-icon>
          </ion-avatar>
          <p class="titulo">Celular</p>
          <p *ngIf="datos.cellphone != 0; else notCellphone" class="datos">{{datos.cellphone}}</p>
          <ng-template #notCellphone>
            <p class="datos"> No Registrado </p>
          </ng-template>
          <button *ngIf="datos.cellphone != 0 && showElements.buttons.callButton" class="apply" color="greenImmo" clear ion-button icon-only item-end small>
            Llamar
          </button>
        </ion-item>
        <ion-item *ngIf="showElements.elements.nextelTag" class="fondo">
          <ion-avatar item-start>
            <ion-icon ios="ios-radio" md="md-radio"></ion-icon>
          </ion-avatar>
          <p class="titulo">Nextel</p>
          <p *ngIf="datos.nextel != 0; else notNextel" class="datos">{{datos.nextel}}</p>
          <ng-template #notNextel>
            <p class="datos"> No registrado </p>
          </ng-template>
          <button *ngIf="datos.nextel != 0" class="apply" color="greenImmo" clear ion-button icon-only item-end small>
            Llamar
          </button>
        </ion-item>
        <ion-item *ngIf="showElements.elements.mailTag" class="fondo">
          <ion-avatar item-start>
            <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
          </ion-avatar>
          <ion-list>
              <p class="titulo">Correo electrónico</p>
              <ion-item *ngIf="datos.email !== 0">
                <p class="titulo">Principal</p>
                <p *ngIf="datos.email !== 0, else notEmail" class="datos"> {{datos.email}} </p>
                <ng-template #notEmail>
                    <p *ngIf="datos.email === 0" class="datos">No registrado</p>
                </ng-template>
                <button (click)="mensajear(datos.email)" *ngIf="datos.email != 0 && showElements.buttons.sendMailButton" class="apply" color="greenImmo" clear ion-button icon-only
                  item-end small>
                  <ion-icon class="icon-button" name="send"></ion-icon>
                </button>
              </ion-item>
              <ion-item *ngIf="tipo === 'c'">
                <p class="titulo">Secundario</p>
                <p *ngIf="datos.email2 != 0; else notSecondaryEmail" class="datos">{{datos.email2}}</p>
                <ng-template #notSecondaryEmail>
                  <p class="datos">No registrado</p>
                </ng-template>
                <button (click)="mensajear(datos.email_2)" *ngIf="datos.email2 != 0" class="apply" color="greenImmo" clear ion-button icon-only
                  item-end small>
                  <ion-icon class="icon-button" name="send"></ion-icon>
                </button>
              </ion-item>
            </ion-list>
        </ion-item>
        <ion-item *ngIf="showElements.elements.commentTag" class="fondo">
          <ion-avatar item-start>
            <ion-icon ios="ios-book" md="md-book"></ion-icon>
          </ion-avatar>
          <p class="titulo">Ultimo Seguimiento</p>
          <p *ngIf="datos.comment != 0" class="datos" text-wrap>{{datos.comment}}</p>
          <p *ngIf="datos.comment === 0" class="datos">No registrado</p>
          <button (click)="newCommentModal()" *ngIf="showElements.buttons.newComentButton" class="apply" color="greenImmo" clear ion-button icon-only item-end small>
            Nuevo Seguimiento
          </button>
        </ion-item>
        <ion-item *ngIf="showElements.elements.sendTag" class="fondo">
          <ion-avatar item-start>
            <ion-icon ios="ios-copy" md="md-copy"></ion-icon>
          </ion-avatar>
          <ion-list>
            <ion-item>
              <p class="titulo">Enviar Flyer de propiedad</p>
              <p class="datos" text-wrap>Envia por correo información de alguna propiedad</p>
              <button *ngIf="showElements.buttons.sendFlyerButton" (click)="sharing('propiedades')" class="apply" color="greenImmo" clear ion-button icon-only item-end small>
                <ion-icon class="icon-button" name="map"></ion-icon>
              </button>
            </ion-item>
            <ion-item class="fondo">
              <p class="titulo">Enviar Broshure de Desarrollo</p>
              <p class="datos" text-wrap>Envia por correo información de algún desarrollo</p>
              <button *ngIf="showElements.buttons.sendBroshureButton" (click)="sharing('desarrollos')" class="apply" color="greenImmo" clear ion-button icon-only item-end small>
                <ion-icon class="icon-button" name="map"></ion-icon>
              </button>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    <!-------------Sección de Comentarios-------------------------------------->
      <ion-list *ngSwitchCase="'comentarios'">
        <ion-grid>
          <ion-row *ngFor="let comentario of comentarios,let i=index">
            <ion-col >
              <ion-card class="fecha">
                <ion-card-header>
                  <p class="titulo">
                   DETALLES DE SEGUIMIENTO
                   <p *ngIf="comentario.lastcomment != 0;else today">
                    Hace {{comentarios[i].lastcomment}} días
                    </p>
                    <ng-template #today>
                      <p>
                        Hoy
                        </p>
                    </ng-template>
                  <br>
                </ion-card-header>
                <ion-card-content>
                  <ion-row>
                    <ion-col col-2>
                      <ion-icon ios="ios-book" md="md-book"></ion-icon>
                    </ion-col>
                    <ion-col col-10>
                      <p>
                        {{comentario.comment}}
                      </p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-2>
                      <ion-icon ios="ios-home" md="md-home"></ion-icon>
                    </ion-col>
                    <ion-col col-10>
                      <p>
                        {{comentario.officename}}
                      </p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-2>
                      <ion-icon ios="ios-person" md="md-person"></ion-icon>
                    </ion-col>
                    <ion-col >
                      <p>
                         {{comentario.fullname}}
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </div>
  </div>
</ion-content>
