<ion-tabs color="tabs">
  <ion-tab *ngIf="showElement.userTab"      tabIcon="ios-person" tabTitle="Datos" [root]="tabDatos"></ion-tab>
  <ion-tab *ngIf="showElement.searchTab"    tabIcon="ios-search" tabTitle="Buscar" [root]="tab6"></ion-tab>
  <ion-tab *ngIf="showElement.tasksTab"     tabIcon="ios-calendar" tabTitle="Tareas" [root]="tab8"></ion-tab>
  <ion-tab *ngIf="showElement.inventoryTab" tabIcon="ios-bookmarks" tabTitle="Inventario" [root]="tabInventory"></ion-tab>
  <ion-tab *ngIf="showElement.contactsTab"  tabIcon="ios-contact" tabTitle="Contactos" [root]="tabContactos"></ion-tab>
</ion-tabs>
